{
  "log-driver": "{{ docker_daemon_log_driver }}",
  "log-opts": {
    "labels": "com.docker.swarm.service.name"
  },
  "debug": "{{ docker_daemon_debug }}",
  "experimental": {{ docker_daemon_experimental }}
}
